<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="page_head(title,remove)" th:remove="${remove}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- for mobile phones responsiveness -->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<title>[[${title}]]</title>

<link rel="stylesheet" th:href="@{/sidebar.css}">
<link rel="stylesheet" th:href="@{/style.css}">
<!-- <link rel="stylesheet" th:href="@{/fontawesome/css/all.min.css}"> -->
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/font-awesome/6.3.0/css/all.min.css}">
	
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-table.min.css}"> -->

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/htmx.js}"></script>

</head>
<body>
	
	<div class="wrapper">
	<div th:replace="../fragments/header::header"></div>
		 <!-- <div class="row">
 -->
		<div th:replace="../fragments/sidebar::sidebar"></div>
		<!-- </div>  -->

		<div layout:fragment="content">
		
		</div>
		
		<div th:replace="../fragments/footer"></div>
		
	</div>


	<!-- <div th:replace="fragments/footer::footer"></div> -->
	
<!-- 	<th:block layout:fragment="script"> -->
<!-- 		<script th:src="@{js/sidebar.js}"></script> -->
<!-- 		<script th:src="@{js/login.js}"></script> -->
<!-- 		<script th:src="@{js/imagepreview.js}"></script> -->
<!-- 		<!-- <script th:src="@{js/phoneNumberInputFormatFile.js}"></script> --> -->
<!-- 		<script th:src="@{js/PhoneNumber.js}"></script> -->
		
<!-- 	</th:block> -->
</body>
</html>