<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{../fragments/main_layout}">
<head th:replace="~{../fragments/main_layout :: page_head('EccSchool', 'none')}">

</head>
<body>

<div layout:fragment="content" class="main-container">
	<div class="card">
			<p style="text-align:center;">
				<span><b>St. Ecc School Complex</b></span>
			</p>
			
			<figure class="figure">
				<img src="photos/computer.jpg" class="figure-img img-fluid rounded" alt="">
				<figcaption class="figure-caption text-center">Computers</figcaption>
			</figure>
			
			
		</div>
		
</div>
</body>
</html>