<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{../fragments/main_layout}">
<head th:insert="../fragments/main_layout :: page_head('staffs','none')">

</head>
<body>
<div layout:fragment="content" class="main-container">

	<div class="card card-body shadow mb-3 searchForm">
		<div class="row">
			<div class="col">
				<form action="">
				<div class="row ms-auto">
					<div class="col">
						<div class="form-group">
							<label for="coursecode">Class</label> 
							<select class="form-select">
								<th:block  th:each="lec : ${listLectureRooms}">
									<option th:value="${lec.id}">[[${lec.name}]]</option>
								</th:block>
							</select>

						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label for="coursecode">Section</label> 
							<select class="form-select">
								<th:block  th:each="csec : ${listSections}">
									<option th:value="${csec.id}">[[${csec.name}]]</option>
								</th:block>
									
							</select>

						</div>
					</div>
					
					<div class="col">
						<div class="form-group">
							<label for="coursecode">Subject</label> 
							<select class="form-select">
								<th:block  th:each="csec : ${listSections}">
									<option th:value="${csec.id}">[[${csec.name}]]</option>
								</th:block>
									
							</select>

						</div>
					</div>

				</div>
				<div class="form-group  pt-3 d-flex justify-content-end">
					<button type="submit"
						class="btn btn-outline-secondary fa-solid fa-magnifying-glass">Search</button>
				</div>
			</form>
			</div>
		</div>
		</div>
		
		
		<div class="card card-body">
			<form th:action="@{/timetable/save}" method="post" th:object="${timetableForm}">
				<table class="table table-striped table-hover table-responsive-sm align-middle" id="tableRefresh">
					<thead class=" text-center">
						<tr>
							<th scope="col">Day</th>
							<th scope="col">Start Time</th>
							<th scope="col">End Time</th>
							<th scope="col">Room Number</th>
							
							
						</tr>
					</thead>
					<tbody>
							<tr th:each="row, rowStat : ${rows}" >
								<td>[[${row.day}]]</td>
								<td>
									<input type="time"  th:field="*{rows[__${rowStat.index}__].startTime}" class="form-control" >
								</td>
								<td>
									<input type="time"  th:field="*{rows[__${rowStat.index}__].endTime}" class="form-control">
								</td>
								<td>
									<input type="text"  th:field="*{rows[__${rowStat.index}__].roomNumber}" class="form-control" placeholder="Enter room number">
								</td>
							</tr>

					</tbody>
				</table>
				<div class="d-grid justify-content-center">
					<button type="submit" class="form-control btn btn-outline-success ">Save</button>					
				</div>
			</form>	
		</div>
</div>
</body>
</html>